.home {
    background: url('../img/main.jpg') no-repeat 50% 100px;
}
/* ---------- chat ---------- */

.live-chat {
    padding: 40px 30px;
    right: 24px;
}

.chat-header {
    background: #3BAFDA;
    border-radius: 5px 5px 2px 2px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
}

.chat-header .profile-img {}

.chat-listener-name {}

.chat-listener-story {}

.circle {
    border-radius: 50%;
    margin: 0.15em;
    font-size: 3em;
}

.close-button {
    color: #CCD1D9;
}

.chat {
    background: #fff;
    border-left: 3px solid whitesmoke;
    border-right: 3px solid whitesmoke;
}

.chat-history {
    padding: 8px 30px;
    overflow-y: scroll;
    height: 500px;
}

.chat-message {
    margin: 16px 0;
    padding: 10px 20px 30px;
    border-bottom: 3px solid whitesmoke;
}

.chat-message:last-child {
    border-bottom: none;
}

.chat-message h5 {
    display: inline-block;
    margin-top: 5px;
}

.chat-message p {
    width: 90%;
}

.chat-message img {
    border-radius: 50%;
    display: inline-block;
}

.chat-message-content {}

.chat-time {
    float: right;
}

.chat-feedback {
    font-style: italic;
    margin: 0 0 0 80px;
}

.chat-input-box {
    background-color: #e6e9ed;
    border-color: #e6e9ed;
    padding: 25px 10px;
    width: 80%;
    display: inline-block;
}

.chat-send-btn {
    float: right;
    padding: 15px 10px;
    width: 20%;
}

.scroll-anchor {
    height: 100px;
}

.selecter {
    margin: 30px 0;
}

.docs-header {
    padding-top: 70px;
}

.chat-profile {
    margin: auto;
    width: 25em;
    height: 11em;
    background: #fff;
    border-radius: .3em;
}

.chat-profile .chat-listener-name {
    margin: auto;
    margin-top: -4.40em;
    margin-left: 5.80em;
    color: #658585;
    font-size: 1.53em;
    font-family: "Coda", sans-serif;
    font-weight: bold;
}

.chat-profile {
    margin: auto;
    display: inline-block;
    margin-left: 10.43em;
    color: #e76043;
    font-size: .87em;
    font-family: "varela round", sans-serif;
}

.chat-profile > .chat-listener-story {
    margin: auto;
    margin-top: 1.35em;
    margin-right: 4.43em;
    width: 14em;
    color: #c0c5c5;
    font-size: .87em;
    font-family: "varela round", sans-serif;
}

.chat-profile > .avatar {
    padding: .7em;
    margin-left: .3em;
    margin-top: .3em;
    height: 6.23em;
    width: 6.23em;
    border-radius: 18em;
}

