<div class="well" ng-app="chatroom" ng-controller="ChatroomController">
  <form class="form-inline">
    Your name: <input type="text" ng-model="username">
  </form>
  <div ng-cloak ng-repeat="message in messages">
    <em>{{message.name}}: </em>{{message.message}}
  </div><br/>
  <form class="form-inline" ng-submit="addMessage()">
    <input type="text" ng-model="message" placeholder="Message...">
    <button class="btn" type="submit">
      <i class="icon-reply"> Send</i>
    </button>
  </form>
</div>
