<!-- Room ID: {{room.$id}}<br />Number of messages: {{messages.length}} -->
<div class="row" ng-app="chatroom" ng-controller="ChatroomController">
    <div class="col-md-8 col-md-offset-2">
        <div class="live-chat">
            <header class="">
                <h4>private chat room</h4>
            </header>
            <div class="chat">
                <div class="chat-history">
                    <div class="chat-message" ng-cloak ng-repeat="message in messages">
                        <div class="row">
                            <div class="col-md-10">
                                <!--img src="{{message.profileImg}}" alt="" width="20" height="20"-->
                                <img src="http://lorempixum.com/20/20/people" alt="" width="20" height="20">
                                <h5>Listener</h5>
                            </div>
                            <div class="col-md-2">
                                <span class="chat-time">{{message.createdAt}}</span>
                            </div>
                        </div>
                        <p><em>{{message.name}}:&nbsp;</em>{{message.message}}</p>
                    </div>
                </div>
                <form class="form-group" ng-submit="addMessage()">
                    <input type="text" placeholder="Message:" class="form-control chat-input-box" ng-model="message">
                    <button type="submit" class="btn chat-send-btn" data-type="last">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
